<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Matriz</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Cadastrar Matriz</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'listar_matrizes' %}">Voltar</a>

    <script>
        $(document).ready(function() {
            // Atualizar Subprogramas ao Selecionar Programa
            $('#id_programa').change(function() {
                var programaId = $(this).val();
                $.ajax({
                    url: "{% url 'filtrar_subprogramas' %}",
                    data: { 'programa': programaId },
                    success: function(data) {
                        $('#id_subprograma').html(data);
                    }
                });
            });

            // Atualizar Descritores ao Selecionar Disciplina
            $('#id_disciplina').change(function() {
                var disciplinaId = $(this).val();
                $.ajax({
                    url: "{% url 'filtrar_descritores' %}",
                    data: { 'disciplina': disciplinaId },
                    success: function(data) {
                        $('#id_descritores').html(data);
                    }
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $("#id_programa").change(function () {
        var url = "{% url 'ajax_load_subprogramas' %}";  // URL da sua view AJAX
        var programaId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'programa': programaId
            },
            success: function (data) {
                $("#id_subprograma").html(""); // Limpa o campo
                $.each(data.subprogramas, function (index, subprograma) {
                    $("#id_subprograma").append(
                        $("<option></option>").attr("value", subprograma.id).text(subprograma.nome)
                    );
                });
            }
        });
    });
</script>
<script>
    $("#id_disciplina").change(function () {
        var url = "{% url 'ajax_load_descritores' %}";
        var disciplinaId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'disciplina': disciplinaId
            },
            success: function (data) {
                $("#id_descritores").html(""); // Limpa o campo
                $.each(data.descritores, function (index, descritor) {
                    $("#id_descritores").append(
                        $("<option></option>").attr("value", descritor.id).text(descritor.nome)
                    );
                });
            }
        });
    });
</script>

</body>
</html>
