<!DOCTYPE html>
<html>
<head>
    <title>Lista de Subprogramas</title>
</head>
<body>
    <h3>Lista de Subprogramas</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Código</th>
                <th>Subprograma</th>
                <th>Programa</th>
                <th>Data de Aplicação</th>
                <th>Etapas Avaliadas</th>
            </tr>
        </thead>
        <tbody>
            {% for subprograma in subprogramas %}
            <tr>
                <td>{{ subprograma.cod_subprograma }}</td>
                <td>{{ subprograma.subprograma }}</td>
                <td>{{ subprograma.programa.programa }}</td>
                <td>{{ subprograma.data_aplicacao }}</td>
                <td>
                    {% for etapa in subprograma.etapas_avaliadas.all %}
                        {{ etapa.etapa }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <!-- Botão para Voltar à Home -->
    <form action="{% url 'home' %}" method="get" style="display: inline;">
        <button type="submit">Voltar</button>
    </form>
</body>
</html>
