<!DOCTYPE html>
<html>
<head>
    <title>Lista de Disciplinas</title>
</head>
<body>
    <h1>Lista de Disciplinas</h1>
    <form action="{% url 'cadastrar_disciplina' %}" method="get" style="display: inline;">
        <button type="submit">Cadastrar Disciplina</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Código</th>
                <th>Disciplina</th>
                <th>Sigla</th>
                <th>Área de Conhecimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in disciplinas %}
            <tr>
                <td>{{ disciplina.cod_disciplina }}</td>
                <td>{{ disciplina.disciplina }}</td>
                <td>{{ disciplina.sigla }}</td>
                <td>{{ disciplina.area_conhecimento }}</td>
                <td>
                    <!-- Botão para Editar -->
                    <form action="{% url 'editar_disciplina' disciplina.cod_disciplina %}" method="get" style="display: inline;">
                        <button type="submit">Editar</button>
                    </form>
                    <!-- Botão para Excluir -->
                    <form action="{% url 'excluir_disciplina' disciplina.cod_disciplina %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir esta disciplina?')">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'home' %}" method="get" style="display: inline;">
        <button type="submit">Voltar</button>
    </form>
</body>
</html>
